<div class="teddy-bear">
  <div class="teddy-text">
    <h4>{{currentPlace.statsTitle}}</h4>
    <span class="w-line"> </span>
    <img style="width: 90px; height: 90px" [src]="currentPlace.secondImage" alt="" class="img-responsive">
  </div>
  <div class="teddy-follow">
    <ul>
      <li class="folw-h">
        <h3>{{currentPlace.followers}}</h3>
        <p>Followers</p>
      </li>
      <li>
        <h3>{{currentPlace.following}}</h3>
        <p>Following</p>
      </li>
    </ul>
  </div>
</div>
